body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
  margin: 0;
  min-height: 100dvh;
}

.header,
.footer,
.top-container {
  background-color: #1F2937;
}

.header,
.top-container,
.signup-container {
  padding-left: 200px;
  padding-right: 200px;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.header .logo {
  font-size: 24px;
  font-weight: 1000;
  color: #F9FAF8;
  flex-shrink: 0;
}

.header ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 0;
  flex-shrink: 0;
}

.header a {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}

.top-container h1 {
  font-size: 48px;
}

.gallery-container {
  padding: 50px 130px;
  text-align: center;
}

.gallery {
  margin: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  max-width: 75px;
  font-size: 12px;
}

.gallery-item img {
  border: 3px solid #3882F6;
  border-radius: 5px;
}

.quote-container {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  padding: 50px 150px;
}

.quote {
  display: flex;
  flex-direction: column;
  max-width: 700px;
}

.quote-author {
  align-self: flex-end;

}

.signup-container {
  background-color: #3882F6;
  border-radius: 5px;
  color: white;
  margin: 100px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.signup {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.signup-container button {
  background-color: #3882F6;
  color: white;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  padding: 5px 15px;
  flex-shrink: 0;
}

.footer {
  text-align: center;
  padding: 30px;
  color: #E5E7EB;
}
