html,body {
  min-height: 100dvh;
  min-width: 100dvw;
  overflow-x: hidden;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

button {
  background-color: #c4a105;
  border-style: none;
  border-radius: 10px;
  padding: 10px 30px;
  flex-shrink: 0;
}

.signup-button {
  flex-shrink: 0;
}

.signup-button a {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.header,
.footer,
.top-container {
  background-color: #91281a;
}

.header,
.top-container,
.gallery-container {
  padding-left: 15%;
  padding-right: 15%;
}

.header {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  flex-wrap: wrap;
}

.header .logo {
  font-size: 24px;
  font-weight: 1000;
  color: #F9FAF8;
  flex-shrink: 0;
}

.header ul {
  list-style-type: none;
  display: flex;
  align-items: baseline;
  gap: 18px;
  padding: 0px;
  flex-shrink: 0;
  margin: 0px;
}

.header a {
  font-size: 18px;
  color: #E5E7EB;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.top-container {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap ;
}

.top-container .hero-title {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.top-container p {
  margin: 0;
  font-size: 18px;
  color: #E5E7EB;
}

.top-container .left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1.3;
  min-width: 250px;
}

.top-container .right {
  flex: 1;
  display: flex;
}

.top-container .right img {
  flex: 1;
  max-height: fit-content;
  min-width: 250px;
  border-radius: 10px;
}

.gallery-container {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.gallery {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 50px;
}

.gallery-item {
  font-size: 18px;
  font-weight: 500;
  color: #1F2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0;
}

.gallery-item img {
  border: 3px solid #91281a;
  border-radius: 100%;
}

.quote-container {
  display: flex;
  justify-content: center;
  background-color: #E5E7EB;
  padding: 100px 200px;
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 500px;
  max-width: 600px;
}

.quote-text {
  font-size: 28px;
  color: #1F2937;

}

.quote-author {
  align-self: flex-end;
  font-size: 24px;
  font-weight: bold;
  color: #1F2937;
}

.signup-container {
  display: flex;
  justify-content: center;
}

.signup-box {
  background-color: #91281a;
  color: white;
  border-radius: 5px;
  padding: 50px 100px;
  margin: 100px 200px;
  min-width: 500px;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.signup-box strong {
  font-size: 24px;
  font-weight: 1000;
}

.signup-box p {
  font-size: 20px;
  color: #E5E7EB;
  margin: 10px auto;
}

.signup-box button {
  border-color: white;
  border-style: solid;
}

.footer {
  text-align: center;
  padding: 30px;
  color: #E5E7EB;
}
